<h1 class="text-center">Login</h1>

<%= form_tag '/login' do %>
  <div class="logincontainer">
    <p>Email</p> <br>
    <%= text_field_tag :email %> <br>
    <p>Password</p> <br>
    <%= password_field_tag :password %> <br>
    <br>
    <%= submit_tag "Log In", class: "button-primary" %> <br>
    <br>
    <%= link_to"Or Log In with Github", "/auth/github" %>
  </div>
  <p class="text-center sm"><%= link_to "No account? Sign up", signup_path %></h1>
<% end %>
