<div class="container">

  <% if @user == current_user %>
    <h1>Your Favorites</h1>
  <% elsif @user != current_user %>
    <h1>User <%= @user.id %>'s Favorites</h1>
  <% end %>

  <% if @favorites.empty? %>
    <p> No favorites yet! </p>
  <% else %>
    <% @favorites.each do |fav| %>
      <div class="colors-container">
        <h3 class="u-pull-left"><%= fav.name %></h3>

        <p class="u-pull-right">
          <%= render partial: "favorite", locals: {color_scheme: fav} %>
        </p>
        <div class="row">
          <div class="twelve columns">
            <% fav.colors.each do |c| %>
              <% if !c.color_scheme_colors.first.color_note.blank? %>
                <div class="colors-index-20p-container tooltip">
                  <%= content_tag(:div, nil, class: "colors-index-color", style:"background-color: #{c.hex_code};") %>
                  <span class="fa fa-square-o color-note-indicator" aria-hidden="true"></span>
                  <div class="colors-note-tooltiptext">
                    <%= c.color_scheme_colors.first.color_note %>
                  </div>
                </div>
              <% else %>
                <div class="colors-index-20p-container">
                  <%= content_tag(:div, nil, class: "colors-index-color", style:"background-color: #{c.hex_code};") %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
