<%= form_for([@user, @color_scheme]) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, class: "u-full-width", placeholder: "Scheme Name"%>
  </p>

  <%= f.label :colors, "Select Colors" %>

  <div class="row">
    <div class="twelve columns">
      <div class="cs-form-container">
        <%= f.label :color_scheme_colors, "Color Notes (optional)", class: "color-note-label" %>
        <%= f.fields_for :color_scheme_colors do |csc| %>
          <%= csc.text_field :color_note, class: "width-20p-notes" %>

          <%= csc.fields_for :color do |c| %>
            <%= c.text_field :hex_code, class: "width-20p-colors tall-input" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

    <p>
      <%= f.submit id: 'newcolorschemesubmit', data: { url: "/users/#{@user.id}/color_schemes" } %>
    </p>
<% end %>
