<div class="container">

<h1>Popular Color Schemes</h1>
  <% if @popular_color_schemes.empty? %>
    <p> No one has favorited any color schemes yet! </p>
  <% else %>
    <% @popular_color_schemes.each do |color_scheme| %>
      <div class="colors-container">
        <h3 class="u-pull-left"><%= color_scheme.name %></h3>
        <p class="u-pull-right">
          <%= render partial: "favorites/favorite", locals: {color_scheme: color_scheme} %>
        </p>
        <div class="row">
          <div class="twelve columns">
            <% color_scheme.colors.each do |c| %>
              <% if !c.color_scheme_colors.first.color_note.blank? %>
                <div class="colors-index-20p-container tooltip">
                  <%= content_tag(:div, nil, class: "colors-index-color", style:"background-color: #{c.hex_code};") %>
                  <span class="fa fa-square-o color-note-indicator" aria-hidden="true"></span>
                  <div class="colors-note-tooltiptext">
                    <%= c.color_scheme_colors.first.color_note if c.color_scheme_colors.first.color_note %>
                  </div>
                </div>
              <% else %>
                <div class="colors-index-20p-container tooltip">
                  <%= content_tag(:div, nil, class: "colors-index-color", style:"background-color: #{c.hex_code};") %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
