<div class="logintopcontainer">
  <%= image_tag "schemerlogo.png", height: "75px"%>
  <h1 class="text-center">Signup</h1>
</div>

<%= form_for :user do |f| %>
<div class="logincontainer">

  <% if flash[:loginerror] %>
    <div class="alert-loginerror"><%= flash[:loginerror] %></div>
  <% end %>
  
  Email <br>
  <%= f.text_field :email %> <br>
  Password <br>
  <%= f.password_field :password %> <br>
  Confirm Password <br>
  <%= f.password_field :password_confirmation %> <br>
  <br>
  <%= f.submit "Sign Up", class: "button-primary" %>
</div>
<p class="text-center sm"><%= link_to "Already have an account? Log in", login_path %></h1>
<% end %>
