<!DOCTYPE html>
<html>
  <head>
    <title>Schemer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
  </head>

  <body>

    <div id="header">

      <div id="current-user-data" data-current-user-id="<%= current_user.id %>"></div>

      <% if current_user %>
        <nav>
          <span class="u-pull-left">
            <%= image_tag "schemerlogo.png", height: "30px", class: "logo" %>
            <span class="fa fa-home" aria-hidden="true"></span><%= link_to "Home", root_path, class: "navspace"%>
            <span class="fa fa-th" aria-hidden="true"></span><%= link_to "All", color_schemes_path, class: "navspace" %>
            <span class="fa fa-fire" aria-hidden="true"></span><%= link_to "Popular", popular_path, class: "navspace" %>
            <span class="fa fa-question" aria-hidden="true"></span><%= link_to "Random", random_path, class: "navspace", id: "randomlink" %>
            <span class="fa fa-star" aria-hidden="true"></span><%= link_to "Your Favorites", user_favorites_path(current_user), class: "navspace" %>
            <span class="fa fa-th-large" aria-hidden="true"></span><%= link_to "Your Schemes", user_color_schemes_path(current_user), class: "navspace", id: "yourschemeslink" %>
            <span class="fa fa-plus" aria-hidden="true"></span><%= link_to "Create Color Scheme", new_user_color_scheme_path(current_user), class: "navspace" %>
          </span>
          <span class="u-pull-right">
            <span class="fa fa-sign-out" aria-hidden="true"></span><%= link_to "Log Out", logout_path(@current_user), method: :delete, class: "navspace" %>
            <span class="navspace"><%= current_user.email %></span>
          </span>
        <nav>
      <% end %>

      <div class="alertcontainer">
        <% if flash[:error] || flash[:success] %>
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
        <% end %>
      </div>

      <br>
      <br>

    </div>

    <div id="content">

      <%= yield %>

      <%= yield :script %>

    </div>

    <script id="color-scheme-template" type="text/x-handlebars-template">
      <div class="container">
        <button id="filter" class="u-pull-right">Filter</button>
        <br>
        <br>
        {{#if user.color_schemes}}
          {{#each user.color_schemes}}
            <div class="colors-container">
              <h3 class="u-pull-left">{{name}}</h3>
                <p class="u-pull-right"><span class="fa fa-trash-o" aria-hidden="true"></span> <a data-method="delete" href="/users/{{user_id}}/color_schemes/{{id}}">Delete</a></p>
                <p class="u-pull-right"><span class="fa fa-pencil-square-o icon"></span><a href="/users/{{user_id}}/color_schemes/{{id}}/edit">Edit</a></p>
                <p class="u-pull-right">
                {{#if favorite}}
                  <span class="fa fa-star star-icon"></span><a data-method="put" href="/users/{{../currentUserId}}/favorites/{{id}}?type=unfavorite">Unfavorite</a>
                {{else}}
                  <span class="fa fa-star-o star-icon"></span><a data-method="put" href="/users/{{../currentUserId}}/favorites/{{id}}?type=favorite">Favorite</a>
                {{/if}}
                </p>
                <div class="row">
                  <div class="twelve columns">
                    {{#each colors}}
                          {{#if color_note}}
                            <div class="colors-index-20p-container tooltip">
                              <div class="colors-index-color" style="background-color: {{hex_code}}"></div>
                              <span class="fa fa-square-o color-note-indicator" aria-hidden="true"></span>
                              <div class="colors-note-tooltiptext">
                                {{color_note}}
                              </div>
                            </div>
                          {{else}}
                            <div class="colors-index-20p-container">
                              <div class="colors-index-color" style="background-color: {{hex_code}}"></div>
                            </div>
                          {{/if}}
                    {{/each}}
                </div>
              </div>
            </div>
          {{else}}
            <p> No color schemes yet! </p>
            <span class="fa fa-plus" aria-hidden="true"></span> <a href="/users/{{currentUserId}}/color_schemes/new">Create One!</a>
          {{/each}}
        {{/if}}
      </div>
    </script>

  </body>
</html>
